<div class="wrapper">
  <header class="header">
    <h1 class="header-logo">見積アプリ</h1>
    <div class='nav'>
      <ul class="right-header">
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, "#", class: "user-name" %></li>
        <li><%= link_to 'ログアウト',destroy_user_session_path, data: { turbo_method: :delete }, class: "logout" %></li>
      <% else %>  
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      </ul>
  </header>

  <div class="main">
    <%= form_with model: @title, local: true do |f|%>
      <div class="field">
        <%= f.label :subject, "SUBJECT" %><br />
        <%= f.text_area :subject, class: :form__text, id:"title_subject" %>
      </div>

      <div class="field">
        <%= f.label :text, "CONTENT" %><br />
        <%= f.text_area :text, class: :form__text, id:"title_text" %>
      </div>

      <div class="actions">
        <%= f.submit "CREATE", class: :form__btn  %>
      </div>
    <% end %>
  </div>
        
  </div>

  <div class="title-contents">
    <h2 class='title'>ALL TITLES</h2>
     <div class="contents row">
       <% @titles.each do |title| %>
       <% end %>
     </div>
  </div>
</div>